body{
    background-image: url(New\ York\ Wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    height: 100vh;    
    align-items: center;
}
#clock{
    font-family: monospace;
    font-size: 6rem;
    font-weight: bolder;
    text-align: center;
    color: blanchedalmond;
    backdrop-filter: blur(50px);
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.1);
}